langchain
langgraph

langchain_community #Embedding integration
langchain_tavily
grandalf #Drawing and arranging graph structures visually
yfinance
IPython

#Market Data
yfinance

##RAG
#Vector DB
chromadb #Actual Vector Database
langchain-chroma #Langchain Wrapper
#Embeddings
torchvision
langchain-huggingface
sentence-transformers #Embedding model

#LLM Providers
langchain_groq
langchain-google-genai
langchain-cerebras

#Utilities
python-dotenv
pydantic
streamlit